// Huvudstyle för site, signup och admin

// mindre headings i sm
h1 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
h6 {
	font-size: 1rem;
}

// användar-rutan xs och upp
#userbox_wrapper {
	position: absolute;
	width: 80%;
	right: 0;
}

// Medlemsnamn, grad-ikon och avatar-boxen
#userbox {
	color: #000;
	text-decoration: none;
	display: block;

	// Avatar i toppraden
	.avatar {
		max-width: 42px;
		max-height: 42px;
	}

	// Gradikon i toppraden
	img.rank_icon {
		margin-left: 0;
	}

	// länk till forum-profil
	a {
		color: #fff;
		text-decoration: none;
		display: inline-block;
	}
}

// Enhetsikoner 16px
img.group_icon_16 {
	width: 16px;
	margin-right: 3px;
	position: relative;
	bottom: 2px;
	left: 0px;
}

// Enhetsikoner 32px
img.group_icon_32 {
	width: 32px;
	margin-right: 6px;
	position: relative;
	bottom: 2px;
	left: 0px;
}

// grupp saknas (fontawesome-frågetecken)
i.group_icon_16 {
	margin-right: 3px;
}

// grupp saknas (fontawesome-frågetecken)
i.group_icon_32 {
	margin-right: 6px;
}

// Gradikon
img.rank_icon_16 {
	height: 16px;
	margin-left: 4px;
	position: relative;
	bottom: 2px;
	left: 0px;
}

// Gradikon, stor
img.rank_icon_48 {
	width: 40px;
	margin-left: 4px;
}

// Alerts
.alert {
	padding: 0.5rem 1rem; // mindre padding på mobil
}

// form input labels
form label {
	font-weight: bold;
}

// forms
input.invalid,
select.invalid {
	border: 1px solid red;
}

// borders på navbar sm-vy
.nav-link {
	border-bottom: 1px solid #dee2e6;
	padding-left: 8px !important; // appliceras endast när navbar:en listas vertikalt
}

// navbar länk hover
.nav-link:hover {
	background-color: #fafafa;
}

// navbar aktiv länk
.navbar li.active {
	font-weight: bold;
}

// ingen underline på <abbr>, på mobil
abbr {
	text-decoration: none !important;
}

// description lists
dl {
	line-height: 1.1rem;
}

// Globala meddelanden
#global_alerts {
	div.alert {
		padding: 0.25rem 0.5rem;
		margin-bottom: 0.2rem;

		button.close {
			padding: 0.1rem 0.5rem;
		}
	}
	span.link {
		font-weight: bold;
	}
}

// närvaro-färger
.text-jip,
.text-qip,
.text-noshow,
.text-signed,
.text-notsigned,
.text-awol {
	font-weight: bold;
	margin: 0 2px;
}
.text-signed {
	color: #28a745;
}
.text-jip {
	color: #285ca6;
}
.text-qip {
	color: #fea500;
}
.text-noshow {
	color: #fff;
	background-color: #fc302b;
	padding: 2px 4px;
}
.text-noshow-light {
	padding: 2px 4px;
}
.text-notsigned {
	color: #848484;
}
.text-awol {
	color: #fff;
	background-color: #7b23a8;
	padding: 4px;
}

// bootstrap-knapp med discord-färger
.btn-discord {
	// färger
	$discord_bg: #7289da;
	$discord_bg_dark: #4a67cf;
	$discord_text_color: white;

	// applicera
	color: $discord_text_color;
	border-color: $discord_bg;
	background-color: $discord_bg;

	&:hover {
		color: $discord_text_color;
		border-color: $discord_bg_dark;
		background-color: $discord_bg_dark;
	}

	// centrera icon
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

// md och mindre
@media (max-width: 991px) {
	// card-headers ingen rundad kant på mobil
	.card-header:first-child {
		border-radius: 0;
	}
}

// >= sm
@media (min-width: 576px) {
	// större headings i > sm
	h1 {
		font-size: 3rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h6 {
		font-size: 1rem;
	}

	// bredda hela sidan 100% i sm också
	.container {
		max-width: none;
	}

	// Alerts
	.alert {
		padding: 0.75rem 1.25rem; // default padding
	}
}

//  >= md
@media (min-width: 768px) {
	// inga borders på navbar >= md
	.nav-link {
		border: none;
	}

	// default-värde
	.container {
		max-width: none;
	}

	#userbox_wrapper {
		position: inherit;
		width: auto;
	}
}

// >= lg
@media (min-width: 992px) {
	// bara rundade kanter on hover vid horizontell layout
	.nav-link:hover {
		border-radius: 5px;
	}

	// default-värde
	.container {
		max-width: 960px;
	}
}

// >= xl
@media (min-width: 1200px) {
	// default-värde
	.container {
		max-width: 1140px;
	}
}
