# development
_stuff/
tests/
forum/
todo.txt
application/config/development

# config files
application/config/database.php
application/helpers/api_keys_helper.php

# logs
application/logs

# vscode
*.code-workspace
*.editorconfig
.vscode

# sass
css/*
css/*.css
*.map

# stuff
images/carousel/
images/rank_icons/
images/arma3_sync_manual/
images/guider/
old_gallery/
docs/
xml/
files/
gallery/