#development
_stuff/
tests/
forum/
todo.txt
application/config/development
index.live.php

#config files
application/config/database.php

#logs
application/logs

#vscode
*.code-workspace
*.editorconfig
.vscode