/* --Chat-rutan-- */

/* Wrapper */
#chat{
	height: 200px;

}

/* meddelande-listan */
ul.chat-list{
	width: 100%;
	height: 162px;
	padding: 0 0 0 10px;
	margin: 0;
	overflow-y: scroll;
	font-size: 0.8rem;
}

/* meddelande-rad */
ul.chat-list li{
	border-bottom: 1px dashed rgb(216, 216, 216);
	list-style-type: none;
	padding: 3px 0;
}
ul.chat-list li:hover{ background-color:rgb(245, 245, 245); }

/* namn-länk */
ul.chat-list li a{
	color: #000;
	font-weight: bold;
}

/* datum-text */
.timespan{
	color:rgb(167, 167, 167);
	font-size: 0.6rem;
	margin: 0 0 0 2px;
}




/* input-raden */
#input_row{
	height: 30px;
	padding-top: 4px;
	/* box-shadow: rgba(0, 0, 0, 0.1) 0 -10px 10px -5px; */
}

/* font-storlek på input-raden */
#chat .input-group input,
#chat .btn{
	font-size: .8rem;
	height: 30px;
	padding: 4px 8px;
}

/* text-input */
#chat .input-group input{
	height: 30px;
}

/* formatting-info-knappen */
#btn_info{
	width:32px
}