/* wrapper */
/* div.latest_posts{
	margin-top: 0.2rem;
	padding: 0.5rem;
} */

/* huvudrubrik */
/* div.latest_posts h2{
	font-size: 1.4rem;
} */

/* forumtråd-rubrik */
/* div.latest_posts h4{
	font-size: 1rem;
} */

/* post-länk */
/* div.latest_posts a{
	padding: 0.5rem;
} */