/* länk-effekter */
div.latest_posts a{
	text-decoration: none;
	color: #000;
}
div.latest_posts .list-group-item:hover{ background-color: #EEE; }

/* list items */
div.latest_posts .list-group-item{
	padding: 0.5rem;
	font-size: 0.8rem;
}

/* topic title */
div.latest_posts .list-group-item p{
	font-weight: bold;
	margin: 0;
}

/* medlems-namn */
div.latest_posts .list-group-item span{
	font-weight: bold;
}

/* timestamp */
div.latest_posts .list-group-item small{
	font-size: 0.7rem;
}

i.fa-caret-right{
	color: #9c9c9c;
}