/* Huvud-stylesheet för hemsidan */

/* Navbar-logga */
nav .navbar-brand{
	margin-right: 4px;
    position: relative;
    top: -2px;
}

/* Olästa meddelanden */
a.pm_alert{  color: #FFF; }
a.pm_alert:hover{ text-decoration: none; }

/* Alerts */
#alerts div.alert{
	padding: 0.25rem 0.5rem;
	margin-bottom: .2rem;
}
#alerts div.alert button.close{
	padding: .1rem 0.5rem;
}