/* Stylesheet för nyhetssidan/huvudsidan */

/* högerkolumnen */
#rightcol{
	padding: 0 0.4rem 0 0.4rem;
}

/* varje "box" i högerkolumnen */
#rightcol div.card{
	margin-bottom: 1.0rem;
}

/* card-heading */
#rightcol div.card-header{
	font-weight: bold;
	padding: 12px;
}

/* card-body */
#rightcol div.card-body{
	padding: 0.5rem;
}

/* bildspelet */
#carousel{
	height: 80px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	cursor: pointer;
}

#carousel img{
    width: 40%;
	opacity: 0.5;
	margin-left: 2rem;
}

/* sm eller större */
@media (min-width: 576px) {
	#carousel{ height: 95x; }
}

/* md */
@media (min-width: 768px) {
	#carousel{ height: 126px; }
}

/* lg */
@media (min-width: 992px){
	#carousel{ height: 168px; }
}