/* Stylesheet för nyhetssidan/huvudsidan */

/* högerkolumnen */
#rightcol{
	padding: 0 0.4rem 0 0.4rem;
}

/* varje "box" i högerkolumnen */
#rightcol div.card{
	margin-bottom: 1.0rem;
}

/* card-heading */
#rightcol div.card-header{
	font-weight: bold;
	padding: 12px;
}

/* card-body */
#rightcol div.card-body{
	padding: 0.5rem;
}

/* bildspelet */
#carousel{
	height: 80px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

/* Layouts större än sm */
@media (min-width: 576px) {
	/* större storlek på medium */
	#carousel{ height: 120px; }
}

/* Layouts större än md */
@media (min-width: 768px) {
	/* större storlek på desktop */
	#carousel{ height: 200px; }
}