/*
 * Huvud-stylesheet för hemsidan
 */

body{
	background-color: #f8f8f8;
}

// navbar items 
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.8);
	&:hover{ color: #212529; }
}

// topp höger rank_icon 
#wrapper_top img.rank_icon{
	margin-right: 0;
}

// Avatar i toppraden 
#userbox .avatar{
	max-width: 42px;
	max-height: 42px;
}

// länk till forum-profil 
#userbox a{
	color: #FFF;
	text-decoration: none;
	display: inline-block;
}

// Olästa meddelanden 
a.pm_alert{
	color: #FFF;
	&:hover{ text-decoration: none; }
}