/* text med förklarande tooltip
abbr är upptagen så vi kör med .hint istället */
.hint{
	text-decoration: underline dashed gray;
	cursor: help;
}

/* subtext till grupp-rubriker */
h3 small{
	font-size: 1rem;
	color: gray;
}

/* medlemslista */
ul.member_list{
	/* list-style-type: disc; */
	list-style-type: none;
	padding: 0;
	margin-left: 1.5rem;
}

/* medlemmar i medlemslistan */
ul.member_list li{
	
	font-weight: bold;
}
ul.member_list li a,
ul.member_list li a:hover{ color: #000; }

.inactive{ color: gray; }