// allt 
#new_member_welcome{
	text-align: center;
	font-size: 0.8rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

//  
#new_member_welcome .card{
	padding: 2rem 0 2rem 0;
}

p{
	margin: 0 4rem;
}

// rubriker 
#new_member_welcome h1, h2, h3{
	font-size: 1.5rem;
	font-weight: bold;
}
#new_member_welcome h3 { font-size: 1rem; }

// img 
#new_member_welcome img{
	width: 100%;
	margin: 1.5rem 0;
}

// länk 
#new_member_welcome a{
	font-weight: bold;
}