/* --Admin-sidan-- */

/* --Adminpanel Events-- */

/* events-tabellen */
#wrapper_events_table{
	font-size: 0.8rem;
}

/* redigera & ta bort-knappar */
.btn_manage a{
	padding: 0.2rem 0.4rem;
	font-size: 0.6rem;
}

/* --Adminpanel Medlemmar-- */

/* grupp-box */
#wrapper_members .group_box{
	text-decoration: none;
	color: #000;
	text-align: center;
	margin-bottom: 8px;
}

/* gruppikon rubrik */
#wrapper_members h6{
	font-size: 1.2rem;
}

/* gruppikoner: medlemmar -> huvud-vy */
#wrapper_members img.group_icon{
	width: 100%;
}

/* rubrik-ikon: medlemmar -> grupp-vy */
img.group_heading_icon{
	width: 32px;
	margin-right: 8px;
	position: relative;
	bottom: 4px;
}

/* rank-ikon override eftersom den ligger till höger om texten här */
img.rank_icon{
	margin: 0 0 0 4px;
}

/* Globala meddelanden preview-alert */
#wrapper_global_alerts_table .alert{
	padding: .2rem .4rem;
	margin: 0;
}

/* Globala meddelanden länkar i preview:n */
#wrapper_global_alerts_form div.preview span{
	font-weight: bold;
}


/* Layouts större än sm */
@media (min-width: 576px) {
	/* Större text i tabellen i desktop-versionen */
	#wrapper_events_table{
		font-size: 1rem;
	}
}