/* --Event-sidan-- */

/* Anmäl dig-knappen */
.btn_signup{
	font-size: 2rem;
}

/* Meddelande-kolumnen */
.column_message{
	width: auto;
}

/* Mindre text i tabellen i mobilversionen */
#wrapper_signup_table{
	font-size:0.7rem;
}

/* ingen overflow-scrollbar tillåten */
#wrapper_signup_table table{
	table-layout:fixed;
}

/* ?-ikon ska vara lika stor i mobil som desktop */
table i.fas{
	font-size: 1.0rem;
}


/* Layouts större än sm */
@media (min-width: 576px) {
	/* Större text i tabellen i desktop-versionen */
	#wrapper_signup_table{
		font-size:1rem;
	}
}

/* Layouts större än md */
@media (min-width: 992px){
	
	/* tabell */
	#wrapper_signup_table{
		font-size:0.8rem;
	}
	
	/* Meddelande-kolumnen */
	.column_message{
		width: 45%;
	}
	
	/* Namn-kolumnen i ej anmälda-tabellen */
	.column_non_signed_name{
		width: 15%
	}
}