/* Gemensam stylesheet för hela anmälningssidan */

/* gör btn-primary lite ljusare */
.btn-primary{
	background-color: #3A99FC !important;
	border-color: #3A99FC !important;
}
.btn-primary:hover{
	background-color: #007DFF !important;
	border-color: #007DFF !important;
}

/* celler som ska kortas ner om de innehåller för mycket text */
.truncate{
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

/* muspekar-ikon för tabellrader */
table.clickable tbody tr:hover{
	cursor: pointer;
}

/* Tabell grå */
tr.grayed{ background-color: #B0B0B0; }
tr.grayed:hover { color: white; background-color: #858585 !important; }

/* Första raden i en ny grupp */
tr.new_group_row{
	border-top:2px solid #CECECE;
}

/* Avatar i toppraden */
#userbox .avatar{
	width: 48px;
	height: 48px;
	margin-left: 6px;
}