/* --Min statistik-sidan-- */

/* Statistikbox */
div.statbox{
	margin-bottom: 20px;
}

/* Stat-box rubrik */
h6{
	font-size: 1.2rem;
	margin-bottom: 12px;
	text-align: center;
}

/* charts */
canvas{
	margin-bottom: 12px;
}

/* medlemsinfo */
#wrapper_info dl{
	margin: 12px 0 20px 0;
}

/* Derscription lists */
dl { line-height: 1rem; }
dt, dd { float: left; }
dt { clear:both; margin-right: 8px; }


/* Layouts större än sm */
@media (min-width: 576px) {
	
}