/* --Min statistik-sidan-- */

/* Statistikbox */
div.statbox{
	margin-bottom: 20px;
}

/* Stat-box rubrik */
h6{
	font-size: 1.2rem;
	margin-bottom: 12px;
	text-align: center;
}

/* bättre rad-avstånd på mobil */
#wrapper_info dl{
	line-height: 1.3rem;
}

/* bättre rad-avstånd på mobil */
#wrapper_since_date{
	line-height: 2.5rem;
}

/* visa data sedan */
#since_date{
    width: 180px;
    display: inline;
}

/* "Visa data sedan"-knappar */
#btn_since_date,
#btn_date_reset{
	position: relative;
    top: -2px;
}

/* charts */
canvas{
	margin-bottom: 12px;
}

/* medlemsinfo */
#wrapper_info dl{
	margin: 12px 0 20px 0;
}

/* Derscription lists */
dl { line-height: 1rem; }
dt, dd { float: left; }
dt { clear:both; margin-right: 8px; }


/* Layouts större än sm */
@media (min-width: 576px) {
	
}